<?xml version="1.0" encoding="UTF-8" ?>
<!-- dtd约束 -->
<!DOCTYPE configuration
        PUBLIC "-//MyBatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/book?useSSL=false&amp;characterEncoding=utf8&amp;serverTimezone=GMT"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="password"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
    <properties resource="jdbc.properties"></properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="com.seu.zqy.utils.dataSourceFactory">
                <property name="driver" value="${driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
<!--         <mapper resource="com/seu/zqy/dao/UserDao.xml"/>-->
        <package name="com.seu.zqy.dao"/>
    </mappers>
</configuration>